################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Web.API/.vs/Web.API
/Web.API/bin/Debug/net6.0
/Web.API/obj
