################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Web.API/.vs/Web.API
/Web.API/bin/Debug/net6.0
/Web.API/obj
/Web.UI/.vscode
/Web.API/.vs/ProjectEvaluation
/AZ-204/.vs
/AZ-204/bin
/AZ-204/obj
